@tailwind base;
@tailwind components;
@tailwind utilities;

/* body */
body {
	color: white;
}

/* headings */
h1 {
	font-size: 64px;
	font-weight: bold;
	margin: 2rem;
}

h2 {
	font-size: 48px;
	font-weight: bold;
	margin: 2rem;
}

h3 {
	font-size: 32px;
	font-weight: bold;
	margin: 2rem;
}

h4 {
	font-size: 24px;
	margin: 2rem;
	font-weight: normal;
}

h5 {
	font-size: 18px;
	margin: 2rem;
	font-weight: normal;
}

a {
	font-weight: 500;
}
